@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap");

* {
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
  background-color:#1c088da4;
}
.green:hover{
    color: green;
}
.red:hover{
    color: red;
}

input {
  display: block;
  margin-bottom: 15px;
  border: 1px solid #04177d9b;
  width: 200px;
  padding: 0.4rem;
  border-radius: 0.3rem;
}

input::placeholder {
  color: #333;
}

#wrapper-container {
  background-color:#020849;
  max-width:1100px;
  margin: 1rem auto 0;
  padding: 4rem 0rem;
  border-radius: 1rem;
}

#wrapper {
  background-color: #fff;
  color: #333;
  padding: 2rem 2rem 0;
  max-width: 1000px;
  margin: auto;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  border-radius: 1rem;
}

.wrapper-left {
  max-width: 50%;
  padding-bottom: 2rem;
}

.wrapper-right {
  display: flex;
  flex-direction: column;
  padding-bottom:0rem;
}

img {
  max-height: 700px;
  max-width: 100%;
  margin:2rem 1rem;
}


h1 {
  font-size: 2.1rem;
  margin-bottom: 0;
  margin-top: 0;
}

h4 {
  font-size: 1.2rem;
  margin-bottom: 0;
}

button {
  cursor: pointer;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  border-radius: 0.5rem;
  border: none;
  background-color: #0a045a85;
  color: #fff;
  font-weight: 600;
}

.reset {
  margin-left: 1rem;
  background-color: #fff;
  color: #1a007a;
  border: 1px solid #070aa844;
}

.footer-header {
  text-align: center;
}

.social {
  text-align: center;
  align-self:flex-start;
  margin-top: 4rem;
  max-width: 14px;
}

.social i {
  padding: 0.5rem;
  color: #333;
}


.social .fa-twitter:hover {
  color: #1da1f2;
}
.social .fa-github:hover {
  color: #211f1f;
}

@media (max-width: 359px) {
  #wrapper-container {
    max-width: 270px;
    margin: auto;
    padding: 1rem 0.5rem;
  }

  #wrapper {
    max-width: 260px;
    margin: auto;
    display: flex;
    flex-direction: column-reverse;
    padding: 0;
  }

  .wrapper-left,
  .wrapper-right {
    max-width: 220px;
    margin: auto;
    padding-left: 1rem;
    padding-right: 1rem;
  }

  h1 {
    font-size: 1.8rem;
    margin-top: 2rem;
    text-align: center;
  }

  img {
    margin-top: 1rem;
  }
  input {
    max-width: 250px;
    margin: auto;
    margin-bottom: 1rem;
  }

  #resultText {
    text-align: center;
  }

  button {
    display: block;
    margin: auto;
  }

  .reset {
    margin: 1rem auto 0;
  }

  .social {
    display: none;
  }
}